body{
    font-family: IRANSans;
    background-color:#eee;
    text-align:center;
    direction: rtl;
    vertical-align: middle;
    font-size: 12pt;
}

.menu{
    display: flex;
    max-width: 800px;
    color:#FAFAFA;
    margin: 0 auto;
    text-align: center;
    color:#2f2f2f;
    min-width:500px;
    justify-content: space-between;
    border-right:1px solid #404040;
    border-bottom:1px solid #404040;
}

.menu li{
    display: inline-block;
    padding:12px 15px;
    border-left:1px solid #404040;
    width:200px;
}

.menu:nth-child(1){
    border-left:1px solid #404040;
    font-weight: bold;
    background-color:#9f004f;
    color:#FAFAFA;
}
.menu li:nth-child(1){
    min-width: 70px;
    width:80px;
    max-width:85px;
}
.header{
    border:none !important;
}

.totalFee{
    float:left;
    margin-top:25px;
    margin-left:220px;
}
.totalFee span{
    font-weight:bold;
    font-size:14pt;
}
.userStats{
    margin:25px auto;
    background-color:#888;
    color:#fff;
    display: inline;
    padding:16px;
}

.time{
    display: block;
    margin:85px auto;
}

.btn{
    text-decoration: none;
    color:#f80;
    font-size:12pt;
    margin:12px;
}

.btn:hover{
    color:#f72;
}

.logo{
  width:80px;
  height: 60px;
}

.error{
  color:#f00;
}

.desc{
  margin-top:8px;
  padding:8px;
  width:300px;
  height:70px;
}