@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../../font/iransans/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff');   /* All Major Browsers */
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../../font/iransans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff');   /* All Major Browsers */
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../../font/iransans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff');   /* All Major Browsers */
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src:url('../../font/iransans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff');   /* All Major Browsers */
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 400;
	src: url('../../font/iransans/woff/IRANSansWeb(FaNum).woff') format('woff');   /* All Major Browsers */
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../../font/font-awesome/fontawesome-webfont.eot?v=4.0.3');
  src: url('../../font/font-awesome/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../../font/font-awesome/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../../fonts/font-awesome/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../../font/font-awesome/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
