@page {
    size: A5;
    margin: auto auto;
}

*{
    font-family: IRANSans;
}

body{
    height: 210mm;
    width:148.5mm;
    margin:auto auto;
    direction: rtl;
    text-align:center;
    background-color:#eee;
}

#factor-header{
    width:100%;
    background-color:#404040;
    padding:12px;
    margin:10px auto;
    direction: rtl;
}

.factor-desc{
    color:#eee;
    display: block;
}

.top-flex{
    display: flex;
    width:100%;
    justify-content: space-between;
    background-color:#777;
    color:#fff;
    padding:8px 12px;
    margin-top:40px;
}

.item-flex{
    display: flex;
    width:100%;
    justify-content: space-between;
    background-color:#eee;
    border-bott0m:1px solid #aaa;
    color:#111;
    padding:8px 12px;
    margin-top:40px;
}

.top-item{
    width:150px;
    padding:4px;
    list-style: none;
    display: inline-block;
}

.totalFee{
    background-color:#222;
    color:#fff;
    width:150px;
    float:left;
}