body{
  text-align: center;
  direction: rtl;
  background-color:#444444;
  font-family: IRANSans;
  box-sizing: border-box;
}

.logo{
  width:50px;
  height:35px;
  margin-top:3px;
}

.container{
  background-color: #FFF;
  width: 360px;
  margin: 5px auto;
  padding: 20px 30px 15px;
  direction: rtl;
  text-align: right;
  box-shadow: 1px 1px 1px #2f2f2f;
}

.container input{
  padding:8px;
  width:100%;
  margin:15px 12px;
  boder:1px solid #e5e5e5;
  display: block;
  height:35px;
}

#marriage{
  display: inline-block;
  width:20px;
  height:20px;
}

#submit{
  display: block;
  background-color:#3a9c95;
  padding:12px;
  margin:10px;
  border:none;
  color:#fff;
  font-weight:bold;
  width:120px;
  height:45px;
  cursor:pointer;
  transition:all 0.5s;
}

#submit:hover{
  background-color : #45cec6;
  transition:all 0.5s;
}

#address{
  padding:8px;
  width: 80%;
}

#error{
  color:#fff;
}